.app-wrap {
   /* height: 100%; */
   /* width: 100%; */
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.app-header {
   height: 84px; /* Adjust based on the actual height of your header */
   width: 100%;
   z-index: 1000;
   /* margin-bottom: 25px; */
}


.app-body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   /* width: 100%; */
   /* Additional styling */
}
.layout {
   display: flex;
   flex: 1;
}

.sidebar {
   flex: 0 0 250px; /* Fixed width for the sidebar */
}

.main-content {
   flex: 1;
   overflow: auto;
}

.home-auth-button-container{
   align-items: center;
   justify-content: center;
}

.home-auth-button-container button{
   padding: 15px 30px;
   font-size: 18px;
   margin: 10px;
}

.content-wrapper {
   display: flex;
   flex-direction: row; /* Arrange children in a row */
}

app-side-nav {
   flex: 0 0 225px; /* Fixed width for the side nav */
   /* You can adjust the width as needed */
}

.main-content {
   flex: 1; /* Take up the remaining space */
}

.new-submission .k-step-current .k-step-indicator {
   border-color: #587B7F;
   background-color: #587B7F;
}  

.new-submission .k-step-done .k-step-indicator {
   border-color: #E2C044;
   background-color: #E2C044;
}

.new-submission .k-stepper .k-step-current:hover .k-step-indicator,
.new-submission .k-stepper .k-step-current.k-hover .k-step-indicator, 
.new-submission .k-stepper .k-step-current.k-step-hover .k-step-indicator {
   border-color: #E2C044;
   background-color: #E2C044;
}

.new-submission .k-stepper .k-step-done:hover .k-step-indicator, 
.new-submission .k-stepper .k-step-done.k-hover .k-step-indicator,
.new-submission .k-stepper .k-step-done.k-step-hover .k-step-indicator {
   border-color: #E2C044;
   background-color: #E2C044;
}

.new-submission .k-progressbar .k-selected {
   border-color: #E2C044;
   color: white;
   background-color: #E2C044;
}