{
    "dbUrl": "rasa.database.windows.net",
    "dbInstance": "",
    "dbTrustServerCertificate": "Y",
    "dbDatabase": "AMITH_DEV",
    "dbPort": 1433,
    "codeGenLogin": "MJ_Training",
    "codeGenPwD": "!!MJ123456",
    "mjAPILogin": "MJ_Training",
    "mjAPIPwD": "!!MJ123456",
    "graphQLPort": 4000,
    "authType": "MSAL",
    "msalWebClientId": "",
    "msalTenantId": "",
    "auth0ClientId": "AXLwU3GZQDd7yAIUXIGFhptYJ5mgN6NA",
    "auth0ClientSecret": "qdfTj2W7wa0ndp5UPnkZ-THQc941FawlZghD9Bbv-O2bGX5cKckfON3vKPLWlzbB",
    "auth0Domain": "dev-pb3zdwv3lfh86612.us.auth0.com",
    "createNewUser": "Y",
    "userEmail": "matt.chriest@gmail.com",
    "userFirstName": "matt",
    "userLastName": "chriest",
    "userName": "mchriest",
    "openAIAPIKey":"",
    "anthropicAPIKey":"",
    "mistralAPIKey":""    
}